header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    position: relative;
  }
}
.nav__item.active {
  color: var(--blue);
  &.nav__item::after {
    width: 100%;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.web {
  font-size: 26px;
  color: var(--blue);
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  font-size: 24px;
  color: var(--text-color);
  text-decoration: none;
  @media screen and (max-width: 767px) {
    padding: 16px 0 16px 15px;
  }
  @media screen and (min-width: 480px) {
    margin-right: 284px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
  }
}
.menu-button {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: 5;
  transition: color var(--time) var(--time-cubic);
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--blue);
  }
}
.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-burger {
  @media screen and (max-width: 767px) {
    padding-top: 48px;
    z-index: 3;
  }

  color: var(--text-color);
  & a {
    @media screen and (max-width: 767) {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }
  // outline: 3px solid red;

  // text-align: left;
  // font-size: 20px;
  &.is-open {
    @media screen and (max-width: 767px) {
      display: block;
      top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    display: none;
    background-color: #fff;

    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.02em;
    font-style: normal;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  .nav {
    @media screen and (max-width: 767px) {
      margin-bottom: 302px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      list-style: none;
      align-items: center;

      & li:last-child {
        margin-right: 0px;
      }
    }
    & li {
      @media screen and (min-width: 768px) {
        margin-right: 50px;
      }
    }
    & li:last-child {
      @media screen and (min-width: 768px) {
        margin-right: 0px;
      }
    }
  }
  &__link {
    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
    }
    & a {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      /* identical to box height, or 122% */

      letter-spacing: 0.02em;

      color: var(--blue);
      padding-right: 10px;
      padding-left: 10px;

      // border-left: 1px solid rgba(33, 33, 33, 0.2);
      // border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    & li:nth-child(2) a {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
    & li:nth-child(3) a {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    & li:nth-child(1) a {
      padding-left: 0;
    }
    & li:nth-child(4) a {
      padding-right: 0;
    }
  }
}

.nav__item {
  color: var(--text-color);
  @media screen and (min-width: 768px) {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: block;

    transition: color var(--time) var(--time-cubic);
  }

  &::after {
    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 4px;
      background-color: var(--blue);
      content: "";
      transition: width var(--time) var(--time-cubic);
    }
  }
  &:hover,
  &:focus {
    @media screen and (min-width: 768px) {
      fill: var(--blue);
      color: var(--blue);
    }
  }
}

/* .nav-item:hover::after {
  width: 100%;
} */

.kontakt-nav {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  display: flex;
  list-style: none;
  text-decoration: none;
  & li {
    @media screen and (min-width: 768px) {
      margin-right: 0px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
  & li:last-child {
    margin-right: 0px;
  }

  & a {
    @media screen and (max-width: 767px) {
      padding-top: 0;
      padding-bottom: 32px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0;
    }
    display: flex;
    align-items: center;
    color: var(--texr-p);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    transition: color var(--time) var(--time-cubic);
  }
  & svg {
    @media screen and (max-width: 767px) {
      display: none;
    }
    margin-right: 10px;
  }
  & a:hover,
  & a:focus {
    color: var(--blue);
  }
  & svg:hover,
  & svg:focus {
    fill: var(--blue);
  }
}

.kontakt-nav .kontakt-tel {
  @media screen and (max-width: 767px) {
    color: var(--blue);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  @media screen and (max-width: 479px) {
    font-size: 26px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
}
.kontakt-nav .kontakt-mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
